[Unit]
Description=Respaldo de Monitoreo Solar cada seis horas

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00 UTC
RandomizedDelaySec=600
Persistent=true
Unit=solar-backup.service

[Install]
WantedBy=timers.target
